<footer>
    <hr />
    <div class="footcomp">
        <!-- Social Media Links -->
        <div class="socials">
            <a href="/wander-meta"><i class="fa-brands fa-facebook"></i></a>
            <a href="/wander-insta"><i class="fa-brands fa-instagram"></i></a>
            <a href="/wander-x"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <!-- Site Information -->
        <div class="site-info">
            <p>&copy;2025 Wanderlust, Inc.</p>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="/compdetails">Company Details</a>
        </div>
    </div>
</footer>
